<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>भारत में कोरोना मामले : हिंदी में </title>

    <!-- ajax cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">

    <!-- firebae cdn -->
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase.js"></script>

    <!-- icon0 -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- fafa icon -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        .my-container {
            border-radius: 10px;
            text-align: center;
            height: auto;
            padding: 10px;
            /* background-color: rgb(230, 230, 211); */

        }
    </style>
</head>

<body>
    <div id="app">

        <!-- first nav bar start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="ashumsd7.github.io/covid/"> <img src="images/stopcovid.png" alt=""></a>
            <iframe src="https://giphy.com/embed/3o6wrAGrygEMdv5zdC" width="50" height="50" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://ashumsd7.github.io/covid/">होम <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.worldometers.info/coronavirus/">विश्व अपडेट </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_US">आरोग्य
                            सेतु ऐप </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            डाउनलोड
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"
                                href="https://icmr.nic.in/sites/default/files/upload_documents/Private_Labs_18042020.pdf">COVID-19
                                परीक्षण के लिए निजी प्रयोगशालाओं की सूची</a>
                            <a class="dropdown-item" href="https://www.icmr.nic.in/content/covid-19">ICMR वेबसाइट पर
                                जाएँ </a>
                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- first nav bar end -->


        <!-- second nav bar start -->


        <nav class="navbar navbar-dark  bg-dark">
            <a class="navbar-brand"><img src="images/stayhome.png" alt="" srcset=""></a>

            <!-- <div v-if="subscribe_flag" class="mobile-form">
                <form class="form-inline">
                   <sup v-if="input_warning" class="badge badge-warning">माफ़ करिये ! केवल नंबर डाल सकते हैं </sup>
                    <img src="images/number.png" alt=""> <input @keypress="isNumber($event)" v-model="mobile_number"
                        class="form-control mr-sm-2" type="search" placeholder="मोबाइल नंबर डालें " aria-label="Search">
                    <button @click="subscribeMobileNumber($event)" class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">सब्सक्राइब </button>
                </form>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeu5L4W1R0U31dPwsjIjBY6HX6RYDVyGeP8S2GUgp1LOn4BlA/viewform?embedded=true" width="300" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div> -->
            <div class="Subscribe-btn">
                <div v-if="subscribe_contaoner_flag " class="smsUpdateBtnDiv">
                    <span @click="showSubscribeFormMethod" class=" badge badge-success">
                        <img src="images/sms.png" alt="">   पाएं SMS अपडेट </span>
                </div>  
                <div v-else class="hideSubscribeBtnDiv">
                    <button  @click="hideSubscribeForm" class=" btn btn-danger">फॉर्म छिपाएं </button>
                </div>
            </div>

            <div v-if="feedback_conatiner_flag" class="feedbackBtnDiv">
                <span @click="showFeedbackFormMethod" class=" badge badge-danger" style="cursor: pointer;">
                    <img src="images/feedback.png" alt="" srcset=""> फीडबैक दें</span>
            </div>
            <div v-else class="hideFeedbackBtnDIv">
                <Button @click="hideFeedBackForm" class="btn btn-danger">फॉर्म छिपाएं </Button>
            </div>

           
        </nav>

        <!-- second nav bar end -->


        <!-- small first  container start -->

        <div class="container">
            <div class="header">
                <div style="display: flex;" class="feedback-subcribe-container">
                  
                    <div v-if="showFeedbackForm" class="feedback-conatiner">
                      
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScrwo1ZQ3lls0G1bk1Oxz16f6ZZaPAIkOgISRmhrVFMoiKN6g/viewform?embedded=true" width="330" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                       
                    </div>

                    <div v-if="showSubscribeForm" class="subscribe-container">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeu5L4W1R0U31dPwsjIjBY6HX6RYDVyGeP8S2GUgp1LOn4BlA/viewform?embedded=true" width="350" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                        
                    </div>
                
                </div>


                <marquee behavior="" direction=""><sup> अगर आप एंड्राइड ऐप्प का प्रयोग कर रहे है तो डेटा देखने के अलावा
                        कुछ फंक्शन्स हो सकता है काम न कर रहे हो एंड्राइड ऐप्प अभी डेवलपमेंट मोड में है आप डेटा देखने के
                        लिए ही उसका प्रयोग करिये, धन्यवाद |
                        || अगर आपने SMS अपडेट के लिए सब्सक्राइब किया है, SMS सुविधा जल्द शुरू होगी, घर पर रहिये ख्याल
                        रखिये धन्यवाद
                    </sup> </marquee>
            </div>
        </div>
        <!-- small first  container end -->


        <!-- important info section start -->
        <div id="imporatant-info">

         

            <sup>No testing updates on ICMR website for 20th April till(23:48IST)</sup>
            <br>
            <sup>ICMR के रिपोर्ट के अनुसार {{date_icmr}} बजे तक : स्रोत: <a
                    href="https://icmr.nic.in/sites/default/files/whats_new/ICMR_testing_update_19April_9PM_IST.pdf">ICMR
                    वेबसाइट </a> </sup> <br>

            <div class="movable-info">
                <img src="images/speaker.png" alt="" srcset="">
                <marquee scrollamount="4" behavior="" direction="">पिछले 24 घण्टे में {{date_icmr}} बजे की रिपोर्ट के
                    अनुसार <b>{{ today_tested_icmr}}</b> सैंपल टेस्ट में <b>{{today_positive_icmr}} </b> पॉजिटिव पाए गए
                    |</marquee>

            </div>
            <small> अब तक सैंपल टेस्ट किये गए</small>: <b style="color: blue;">{{total_tested}}</b> <br>
            <small>अब तक लोगों को टेस्ट किया गया: </small> <b style="color: blue;">{{total_ind_tested}}</b>
        </div>
        <!-- important info section end -->





        <!-- main big container start -->

        <div class="container my-container justify-content-center">


            <!-- noraml information start         -->
            <div v-if="download_App_Loading">
                <div class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br>
                <span class=" badge badge-success"> Please Wait</span>
            </div>

            <div v-else style="cursor: pointer;" @click="downloadApp" id="android-app">
                <b><img src="images/android.png" alt="" srcset=""> ऐप डाउनलोड <img src="images/download.png" alt=""
                        srcset="">करें </b>
            </div>
            <hr>

            <!-- noraml information end         -->



            <!-- row 0 start -->
            <div class="row row-0">
                <div class="col-md-12">
                    <small style="color:rgb(20, 6, 146);">डेटा आखिर बार अपडेट किया गया : {{last_updated}}</small>
                    <hr>
                    <div id="confirmed-tt">
                        <small>भारत में अब तक इतने मामले पॉजिटिव आये </small>
                        <p style="color: rgb(3, 3, 19);">{{confirmed_tt}} <img src="images/virus.png" alt="" srcset="">
                        </p>

                    </div>
                </div>
            </div>

            <hr>
            <!-- row 0 end -->
            <center>
                <h5>आज भारत में <sup style="color: rgb(88, 76, 76);"><small>[रात 12 बजे से अभी तक ]</small></sup> </h5>

            </center>
            <hr>

            <!-- row 1 start -->
            <div class="row my-row-1 ">
                <div class="col-sm-4  my-row-1-col-1">

                    <div id="confirmed-td">
                        <small>आज के पॉजिटिव मामले </small>


                        <p>+{{confirmed_td}} <img src="images/plus.png" alt="" srcset=""></p>



                    </div>

                </div>



                <div class="col-sm-4 my-row-1-col-3">



                    <div id="recovered-td">
                        <small>आज ठीक हुए </small>

                        <p>+{{recovered_td}} <img src="images/sprinter.png" alt="" srcset=""></p>

                    </div>



                </div>

                <div class="col-sm-4 my-row-1-col-4">

                    <div id="deaths-td">
                        <small>आज के मृतकों की संख्या </small>

                        <p>+{{deaths_td}} <img src="images/death.png" alt="" srcset=""> </p>


                    </div>

                </div>

            </div>

            <!-- row 1 end  -->

            <!-- row2   start-->

            <hr>
            <center>
                <h5>अब तक भारत <img src="images/india.png" alt=""> में </h5>
            </center>
            <hr>


            <div class="row my-row-2">


                <div class="col-sm-4 my-row-2-col-1">

                    <div id="active-tt" class="active-tt">
                        <small>भारत में सक्रिय मामले </small>
                        <p>{{active_tt}} <img src="images/patient.png" alt="" srcset=""></p>

                    </div>

                </div>


                <div class="col-sm-4 my-row-2-col-2">
                    <div id="recovered-tt">
                        <small>भारत में कुल ठीक हो गए </small>
                        <p>{{recovered_tt}} <img src="images/sprinter.png" alt="" srcset=""></p>

                    </div>
                </div>

                <div class="col-sm-4 my-row-2-col-3">
                    <div id="deaths-tt">
                        <small>कुल मौतें </small>

                        <p>{{deaths_tt}} <img src="images/death.png" alt="" srcset=""></p>
                    </div>
                </div>
            </div>

            <!-- row2   end-->


            <!-- row 3 start -->

            <br>
            <div class="row my-row-3  ">
                <!-- <marquee behavior="" direction="">UP का  डेटा अस्थायी रूप से उपलब्ध नहीं है जिस एपीआई से डेटा प्राप्त कर रहे थे वो मेंटिनेंस में हैं धन्यवाद </marquee> -->
                <div class="col-sm-8 my-row-3-col-1">
                    <center>
                        <h5 class="StateTitle">एक नज़र उत्तर प्रदेश <img src="images/indiaup.png" alt="" srcset=""> पर
                        </h5><sup>डेटा आखिर बार अपडेट किया गया {{last_updated}}</sup>
                        <marquee behavior="" direction=""><small>अगर डेटा का आर्डर गड़बड़ होता है तो अंग्रेजी नाम से ही
                                कुल और नए मामलों का मिलान करें </small></marquee>
                    </center>



                    <p>
                        <a class="btn btn-light" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample" style="color: rgb(6, 8, 1);">
                            जिलों को देखने के लिए क्लिक करें <img src="images/downarrow.png" alt="" srcset="">
                        </a>
                        <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Button with data-target
                        </button> -->
                    </p>




                    <div class="collapse" id="collapseExample">

                        <div class="card card-body">
                            <div style="display: flex;">
                                <div class="one">
                                    <div class="statesHIN">

                                        <ul>
                                            <h4 class="DisttTitle">जिलों के नाम </h4>
                                            <hr>
                                            <li class="list-view-disttHin" v-for="disttName in listOfDisttHindi">
                                                {{ disttName }} </li>
                                        </ul>

                                    </div>
                                </div>



                                <div class="two">
                                    <div class="cases">
                                        <ul>
                                            <h4 class="DisttTitle">कुल मामले </h4>
                                            <hr>
                                            <li class="list-view-cases" v-for="confcases in disttConfirmCases">
                                                {{confcases}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="three">
                                    <div class="cases">
                                        <ul>
                                            <h4 class="DisttTitle">नए मामले </h4>
                                            <hr>
                                            <li style="color: red;" class="list-view-cases"
                                                v-for="confcases in disttConformNewCases"> <small> {{confcases}}</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>





                                <div class="ZERO">
                                    <div class="statesENG">

                                        <ul>
                                            <h4 class="DisttTitle">DISTRICT NAME</h4>
                                            <hr>
                                            <li class="NameList list-view-disttEng" v-for="disttName in listOfDistt">
                                                {{ disttName }}
                                            </li>

                                        </ul>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 my-row-3-col-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/precaution3.jpeg" class="d-block w-100" alt="STAY SAFE">
                            </div>
                            <div class="carousel-item">
                                <img src="images/precaution1.jpeg" class="d-block w-100" alt="STAY AT HOME">
                            </div>
                            <div class="carousel-item">
                                <img src="images/precaution4.jpeg" class="d-block w-100" alt="STAY SAFE">
                            </div>
                            <div class="carousel-item">
                                <img src="images/precaution5.jpeg" class="d-block w-100" alt="STAY HOME">
                            </div>
                            <div class="carousel-item">
                                <img src="images/precaution6.jpeg" class="d-block w-100" alt="STAY HOME">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>


            </div>
            <!-- row 3 end -->

            <hr>


            <div class="row justify-content-center">

                <button type="button" @click="twitter" class="btn btn-danger"><img src="images/twitter.png" alt=""
                        srcset=""></button>

            </div>
            <!-- #<sup>Don't give now, we are fixing errors </sup> -->
            <br>
            ये वेबसाइट <img
                src="https://hitwebcounter.com/counter/counter.php?page=7277230&style=0006&nbdigits=5&type=page&initCount=0"
                title="User Stats" Alt="PHP Hits Count" border="0"> बार देखी गयी


        </div>

        <!-- main big container end -->

        <marquee behavior="" direction="">कुल मामले जहाँ से अपडेट किये जा रहे है ऐसा संभव है की गलतियां हो जाएँ हमें
            अवगत कराईये हम गलतियों को सुधारने का पूरा प्रयास करेंगे धन्यवाद </marquee>


       

    </div>



    <script src="app.js"></script>
    <script src="scripts/thirdparty.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</body>

</html>