<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>भारत में कोरोना मामले : हिंदी में </title>

    <!-- ajax cdn -->
    <script data-ad-client="ca-pub-6990943232540646" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- firebae cdn -->
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase.js"></script>

    <!-- icon0 -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- fafa icon -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        .my-container {
            border-radius: 10px;
            text-align: center;
            height: auto;
            padding: 10px;
            /* background-color: rgb(230, 230, 211); */

        }
    </style>
</head>

<body>
    <div id="app">
        <!-- first nav bar start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light main-navbar">
            <a class="navbar-brand" href="ashumsd7.github.io/covid/"> <img src="images/stopcovid.png" alt=""></a>

            <!-- notify btn -->
            <!-- <button @click="playWistle" type="button" class="btn btn-primary">
                <img src="./images/wistle.png" alt="" srcset=""> <span class="badge badge-light">{{wistleCount}}</span>
                <span class="sr-only"></span>
              </button> -->


            <iframe src="https://giphy.com/embed/3o6wrAGrygEMdv5zdC" width="50" height="50" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="https://ashumsd7.github.io/covid/">होम <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.worldometers.info/coronavirus/">विश्व अपडेट </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_US">आरोग्य
                            सेतु ऐप </a>
                    </li>

                    <li class="nav-item">
                        <a class="dropdown-item"
                    href="whoweare.html">
                    About This Site ?</a>
                    </li>
                  

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            डाउनलोड
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"
                                href="https://www.icmr.gov.in/pdf/covid/labs/COVID_19_Testing_Labs_05052020.pdf">COVID-19
                                परीक्षण के लिए निजी प्रयोगशालाओं की सूची</a>
                            <a class="dropdown-item" href="https://www.icmr.gov.in/">ICMR वेबसाइट पर
                                जाएँ </a>

                            
                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- first nav bar end -->





        <!-- second nav bar start -->


        <nav class="navbar navbar-dark  bg-dark">
            <a class="navbar-brand"><img src="images/stayhome.png" alt="" srcset=""></a>

            <strong style="color: aliceblue;">अब तक कुल सैंपल टेस्ट : <strong style="color: rgb(141, 247, 43); font-size: large;"> {{total_tested}} </strong>  </strong>

            <!-- <div v-if="subscribe_flag" class="mobile-form">
                <form class="form-inline">
                   <sup v-if="input_warning" class="badge badge-warning">माफ़ करिये ! केवल नंबर डाल सकते हैं </sup>
                    <img src="images/number.png" alt=""> <input @keypress="isNumber($event)" v-model="mobile_number"
                        class="form-control mr-sm-2" type="search" placeholder="मोबाइल नंबर डालें " aria-label="Search">
                    <button @click="subscribeMobileNumber($event)" class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">सब्सक्राइब </button>
                </form>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeu5L4W1R0U31dPwsjIjBY6HX6RYDVyGeP8S2GUgp1LOn4BlA/viewform?embedded=true" width="300" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div> -->
            <!-- <div class="Subscribe-btn">
                <div v-if="subscribe_contaoner_flag " class="smsUpdateBtnDiv">
                    <span @click="showSubscribeFormMethod" class=" badge badge-success">
                        <img src="images/sms.png" alt=""> पाएं SMS अपडेट </span>
                </div>
                <div v-else class="hideSubscribeBtnDiv">
                    <button @click="hideSubscribeForm" class=" btn btn-danger">फॉर्म छिपाएं </button>
                </div>
            </div> -->

            <!-- <div v-if="feedback_conatiner_flag" class="feedbackBtnDiv">
                <span @click="showFeedbackFormMethod" class=" badge badge-success" style="cursor: pointer;">
                    <img src="images/feedback.png" alt="" srcset=""> फीडबैक दें</span>
            </div>
            <div v-else class="hideFeedbackBtnDIv">
                <Button @click="hideFeedBackForm" class="btn btn-danger">फॉर्म छिपाएं </Button>
            </div> -->


        </nav>

        <!-- second nav bar end -->



        <!-- small first  container start -->

        <div class="container">
            <div class="header">
                <div style="display: flex;" class="feedback-subcribe-container">

                    <div v-if="showFeedbackForm" class="feedback-conatiner">

                        <iframe
                            src="https://docs.google.com/forms/d/e/1FAIpQLScrwo1ZQ3lls0G1bk1Oxz16f6ZZaPAIkOgISRmhrVFMoiKN6g/viewform?embedded=true"
                            width="330" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

                    </div>

                    <div v-if="showSubscribeForm" class="subscribe-container">
                        <iframe
                            src="https://docs.google.com/forms/d/e/1FAIpQLSeu5L4W1R0U31dPwsjIjBY6HX6RYDVyGeP8S2GUgp1LOn4BlA/viewform?embedded=true"
                            width="350" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

                    </div>

                </div>

            </div>
        </div>
        <!-- small first  container end -->

        <!-- <button style="background-color: chartreuse;" btn btn-warning onclick="increaseCount()"><img src="./images/wistle.png" alt="" srcset=""> </button>
        <small style="background-color: cornflowerblue; cursor: pointer;" onclick="showTotalWistleCount()" id="wistle-show">...</small> <small id="showhere"></small> -->
        <!-- important info section start -->
        <!-- Button trigger modal -->


        <!-- ek click me jaane poora haal start -->
        <br>
        <center>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    एक क्लिक में जानें अभी तक का पूरा हाल 
  </button>
</center>
  <br>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle"> {{last_updated}} बजे तक </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
           <span class="my-modal-title1">अब तक कुल सैंपल टेस्ट</span>  : <span class="my-modal-title1-data" >{{total_tested}}</span>
            <br>
          <span class="my-modal-title1">अब तक कुल पॉजिटिव केस </span>  : <span class="my-modal-title1-data"  >{{confirmed_tt}}</span> 
            <br>
           <span class="my-modal-title1">अब तक कुल ठीक केस </span> : <span class="my-modal-title1-data"> {{recovered_tt}}</span>
            <br>
            <span class="my-modal-title1"> अब तक कुल मृत्यु</span>    : <span class="my-modal-title1-data" >{{ deaths_tt}}</span> 
            <br>
            <hr>

         <span class="my-modal-title2">आज पॉजिटिव केस</span>    : <span class="my-modal-title2-data"> {{confirmed_td}}</span>
            <br>      
        <span class="my-modal-title2">  आज ठीक हुए</span>   : <span class="my-modal-title2-data" >{{recovered_td}}</span> 
            <br>
          <span class="my-modal-title2">आज मृत्यु</span>   :  <span class="my-modal-title2-data">{{deaths_td}}</span>
            <br>
            <hr>
            <div id="siteAddress">
                <span ><center>https://nocovid.netlify.app/</center></span>  
            </div>
           

            <!-- <br>
            सबसे ज्यादा केस राज्य में : शीर्ष 5
            <hr>
            महाराष्ट्र: 
            <br>
            गुजरात:
            <br>
            दिल्ली:
            <br>
            मध्यप्रदेश:
            <br>
            राजस्थान: -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
        
        </div>
      </div>
    </div>
  </div>

    <!-- ek click me jaane poora haal end -->

        <div id="imporatant-info">

            <!-- row 0 start -->
            <div class="container justify-content-center">
                <div class="row row-testing">
                    <div class="col-md-12">
                        <div class="testing-tt">
                            <center>
                                <!-- अब तक सैंपल टेस्ट <sup>{{date_icmr}} तक  -->
                                <small>{{betweenDates}}   सैंपल टेस्ट किये गए | स्रोत: <a style="color: black;"
                                    href="https://icmr.nic.in">ICMR
                                    वेबसाइट </a> </sup>  </small><br>
                                <p> <img src="images/testingbg.png" alt="" srcset=""> {{today_tested_icmr}} </p>
                                        <!-- <small>{{betweenDates}}<small style="font-size: 20px; color: rgb(241, 8, 136);">{{today_tested_icmr}}</small>   सैंपल टेस्ट किये गए | </small> -->
                            </center>
                        </div>
                    </div>
                </div>
            </div>

            


       
        </div>
        <!-- important info section end  -->





        <!-- main big container start -->

        <div class="container my-container justify-content-center">


            <!-- noraml information start         -->


            <!-- noraml information end         -->
          

<hr>

            <!-- row 0 start -->
            <div class="row row-0">
                <div class="col-md-12">
                    <small style="color:rgb(20, 6, 146);"> <img src="/images/hammer.png" alt="" srcset=""> डेटा आखिर बार
                        अपडेट किया गया : {{last_updated}}</small>
                    <hr>
                    <div id="confirmed-tt">
                        <small>भारत में अब तक इतने मामले पॉजिटिव आये </small>
                        <p style="color: rgb(3, 3, 19);">{{confirmed_tt}} <img src="images/virus.png" alt="" srcset="">
                        </p>

                    </div>
                </div>
            </div>

            <hr>
<!-- Testing -->
<div class="conatiner">
    <center>
        <h5 style="background-color: rgb(119, 231, 194); color: rgb(8, 8, 8); border-radius: 10px;">आज भारत में <sup style="color: rgb(88, 76, 76);"><small>[रोज़ सुबह लगभग 9 बजे के बाद से]</small></sup>
        </h5>

    </center>
  
        <small style="font-size: smaller;" v-if="showReasonText" >अगर आपको आज की संख्या ऋण में दिखाई दे रही है तो इसका कारण है , MoHFW ने Unassigned श्रेणी में से कुछ संख्या को कम कर दिया है। यह कमी आज के कुल में परिलक्षित होगी।</small>
        <hr>
 
    <div class="row align-self-center">

        <div class="col-sm-3 my-col mr-auto">
            <small class="">आज के पॉजिटिव मामले  <i @click="showReason" class="fa fa-bullhorn" aria-hidden="true"></i> </small> 
               
            
            
           
            <center>
                <div id="confirmed-td" class="round ">
                    <small> +</small>
                
                   
                    <p class="text-center">  {{confirmed_td}}  <br><img src="images/plus.png" alt=""
                            srcset=""></p>
                </div>
            </center>
           
           
        </div>
        
        <div class="col-sm-3 my-col  mr-auto">
            <small><b>आज ठीक हुए</b>  </small>
            <center>

                <div id="recovered-td" class="round ">
                    <small> +</small>
                    <p class="text-center"> {{recovered_td}} <br><img src="images/sprinter.png" alt=""
                            srcset=""></p>
                </div>
            </center>
        </div>
       
        <div class="col-sm-3  my-col  mr-auto">
            <small>आज के मृतकों की संख्या </small>
            <center>
                <div id="deaths-td" class="round">
                    <small> +</small>
                    <p class="text-center"> {{deaths_td}} <br><img src="images/death.png" alt="" srcset="">
                    </p>
                </div>
            </center>
        </div>
    </div>
</div>



            <!-- row 0 end -->
            <!-- <center>
                <h5>आज भारत में <sup style="color: rgb(88, 76, 76);"><small>[रात 12 बजे से अभी तक ]</small></sup> </h5>

            </center>
            <hr> -->

      


            <!-- popup  -->

            <div v-if="showPopPup" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>पाएं रोज SMS अपडेट </strong>
                <div class="container">

                    <!-- <img src="./images/arogya.JPG" alt="" srcset=""> -->
                    <center>

                        <div v-if="showSubscribeForm" class="subscribe-container">
                            <iframe
                                src="https://docs.google.com/forms/d/e/1FAIpQLSeu5L4W1R0U31dPwsjIjBY6HX6RYDVyGeP8S2GUgp1LOn4BlA/viewform?embedded=true"
                                width="350" height="400" frameborder="0" marginheight="0"
                                marginwidth="0">Loading…</iframe>
                        </div>

                    </center>

                </div>
                <center>
                    <button @click="showSubscribeFormMethod" class="btn btn-primary">अभी सब्सक्राइब करें </button>
                </center>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span style="color: blanchedalmond;" aria-hidden="true">X</span>
                </button>

            </div>



           

            <!-- row2   start-->

            <hr>
            <center>
                <h5>अब तक भारत <img src="images/india.png" alt=""> में </h5>
            </center>
            <hr>


            <div class="row my-row-2">


                <div class="col-sm-4 my-row-2-col-1">

                    <div id="active-tt" class="active-tt">
                        <small>भारत में सक्रिय मामले </small>
                        <p>{{active_tt}} <img src="images/patient.png" alt="" srcset=""></p>

                    </div>

                </div>


                <div class="col-sm-4 my-row-2-col-2">
                    <div id="recovered-tt">
                        <small>भारत में कुल ठीक हो गए </small>
                        <p>{{recovered_tt}} <img src="images/sprinter.png" alt="" srcset=""></p>

                    </div>
                </div>

                <div class="col-sm-4 my-row-2-col-3">
                    <div id="deaths-tt">
                        <small>कुल मौतें </small>

                        <p>{{deaths_tt}} <img src="images/death.png" alt="" srcset=""></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <!-- row2   end-->


        <!-- row 3 all state start -->



        <div class="container state-container">
            <center>
                <h5 class=" stateDetailHeading"> <img src="./images/indiannew.png" alt="" srcset="">
                    भारत के सभी राज्य  <img src="./images/indiannew.png" alt="" srcset=""></h5>
            </center>
            <hr>
            <marquee behavior="" direction=""><small>अगर डेटा का आर्डर गड़बड़ होता है तो अंग्रेजी नाम से ही
                    कुल और नए मामलों का मिलान करें </small></marquee>
            <br>
            <div class="row row-cols-6">
                <div class="col ">
                    <ul>
                        <small class="stateHindiTitile">राज्य</small>
                        <hr>
                        <li style="font-weight: 500;" class="" v-for="disttName in stateNameHindi">
                            {{ disttName }}
                        </li>
                    </ul>
                </div>

                <div class="col ">
                    <ul>
                        <small class="stateHindiTitile">कुल</small>
                        <hr>
                        <li style=" color: blue;" class="list-view-cases" v-for="confcases in stateConfirmed">
                            {{confcases}}
                        </li>
                    </ul>
                </div>

                <div class="col ">
                    <ul>
                        <small class="stateHindiTitile"> आज+ </small>
                        <hr>
                        <li style="color: rgb(235, 17, 17);" class="stateNew" v-for="disttName in stateDeltaConfirmed">
                            +{{ disttName }}
                        </li>

                    </ul> 
                </div>

                <!-- <div class="col ">
                    <ul>
                        <small class="stateHindiTitile"> Active </small>
                        <hr>
                        <li style="color: rgb(235, 17, 17);" class="stateNew" v-for="disttName in stateActive">
                            +{{ disttName }}
                        </li>

                    </ul> 
                </div> -->

                <div class="col ">
                    <ul>
                        <small class="stateHindiTitile">ठीक</small>
                        <hr>
                        
                        <li style="color: green;" class="" v-for="confcases in stateRecovered">
                            <small> {{confcases}} 
                                
                            </small>
                        </li>
                    </ul>

                </div>



                <div class="col ">
                    <ul>
                        <small id="deathstateTitle" class="stateHindiTitile">मृत्यु </small>
                        <hr>
                        <li style="color: rgb(235, 17, 17);" class="" v-for="disttName in stateDeaths">
                            {{ disttName }}
                        </li>

                    </ul>
                </div>



                <div class="col ">
                    <ul>
                        <small class="stateNameEng">STATE</small>
                        <hr>
                        <li class="stateNameEng" v-for="disttName in stateNameFilteredEng">
                            {{ disttName }}
                        </li>

                    </ul>
                </div>



            </div>
        </div>

        <!-- row 3 all state end -->









        <hr>


        <!-- row 3 start -->
        <br>

        <div class="container">
            <div class="row my-row-3  ">
                <!-- <marquee behavior="" direction="">UP का  डेटा अस्थायी रूप से उपलब्ध नहीं है जिस एपीआई से डेटा प्राप्त कर रहे थे वो मेंटिनेंस में हैं धन्यवाद </marquee> -->
                <div class="col-sm-8 my-row-3-col-1 ">
                    <center>
                        <h5 class="StateTitle">एक नज़र उत्तर प्रदेश <img src="images/indiaup.png" alt="" srcset=""> पर
                        </h5><sup>डेटा आखिर बार अपडेट किया गया {{last_updated}}</sup>

                    </center>


                    <center>
                        <p>
                            <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button"
                                aria-expanded="false" aria-controls="collapseExample" style="color: rgb(6, 8, 1);">
                                जिलों को देखने के लिए क्लिक करें <img src="images/downarrow.png" alt="" srcset="">
                            </a>
                            <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Button with data-target
                        </button> -->
                        </p>
                    </center>



                    <div class="collapse " id="collapseExample">

                        <div class="card card-body">
                            <div class="" style="display: flex;">
                                <div class="one">
                                    <div class="statesHIN">

                                        <ul>
                                            <h4 class="DisttTitle">जिला </h4>
                                            <hr>
                                            <li class="list-view-disttHin" v-for="disttName in listOfDisttHindi">
                                                {{ disttName }} </li>
                                        </ul>

                                    </div>
                                </div>



                                <div class="two">
                                    <div class="cases">
                                        <ul>
                                            <h4 class="DisttTitle">कुल </h4>
                                            <hr>
                                            <li class="list-view-cases" v-for="confcases in disttConfirmCases">
                                                {{confcases}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="three">
                                    <div class="cases">
                                        <ul>
                                            <h4 style="color: rgb(241, 72, 123);" class="DisttTitle">आज+ </h4>
                                            <hr>
                                            <li style="color: rgb(241, 72, 123);" class="list-view-cases"
                                                v-for="confcases in disttConformNewCases"> <small> {{confcases}}</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div> 

                                <div class="two">
                                    <div class="cases">
                                        <ul>
                                            <h4 style="color: rgb(11, 4, 107);" class="DisttTitle">सक्रिय </h4>
                                            <hr>
                                            <li style="color: rgb(8, 102, 179);" class="list-view-cases" v-for="confcases in disttactive">
                                                {{confcases}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="two">
                                    <div class="cases">
                                        <ul>
                                            <h4 style="color: rgb(56, 238, 11);" class="DisttTitle">ठीक</h4>
                                            <hr>
                                            <li style="color: rgb(28, 80, 16);" class="list-view-cases" v-for="confcases in disttRecovered">
                                                {{confcases}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>




                                <div class="three">
                                    <div class="cases">
                                        <ul>
                                            <h4 style="color: rgb(236, 13, 13);" class="DisttTitle">मौतें </h4>
                                            <hr>
                                            <li style="color: rgb(236, 13, 13);" class="list-view-cases"
                                                v-for="confcases in disttdeceased"> <small> {{confcases}}</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>






                                <div class="ZERO">
                                    <div class="statesENG">

                                        <ul>
                                            <h4 class="DisttTitle text-muted">DISTRICT</h4>
                                            <hr>
                                            <li class="NameList list-view-disttEng text-muted" v-for="disttName in listOfDistt">
                                                {{ disttName }}
                                            </li>

                                        </ul>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 my-row-3-col-2">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/tollfreenumber.jpg" class="d-block w-100" alt="STAY SAFE">
                            </div>
                            <div class="carousel-item">
                                <img src="images/abedmennt.jpg" class="d-block w-100" alt="STAY AT HOME">
                            </div>
                            <div class="carousel-item">
                                <img src="images/abedment.jpg" class="d-block w-100" alt="STAY SAFE">
                            </div>
                            <div class="carousel-item">
                                <img src="images/helpline number.jpg" class="d-block w-100" alt="STAY HOME">
                            </div>
                            <div class="carousel-item">
                                <img src="images/arogya.JPG" class="d-block w-100" alt="STAY HOME">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
        <!-- row 3 end -->

        <hr>


        <div class="row justify-content-center">

            <button type="button" @click="twitter" class="btn btn-danger"><img src="images/twitter.png" alt=""
                    srcset=""></button>

        </div>
        <!-- #<sup>Don't give now, we are fixing errors </sup> -->
        <br>
        <center>
            ये वेबसाइट <img
                src="https://hitwebcounter.com/counter/counter.php?page=7277230&style=0006&nbdigits=5&type=page&initCount=0"
                title="User Stats" Alt="Page Visit Counter" border="0"> बार देखी गयी
        </center>

        <br>

        <!-- main big container end -->



        <!-- app download-start -->
        <center>

            <div v-if="download_App_Loading">
                <div class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br>
                <span class=" badge badge-success"> Please Wait</span>
            </div>

            <div v-else style="cursor: pointer;" @click="downloadApp" id="android-app">
                <b><img src="images/android.png" alt="" srcset=""> ऐप डाउनलोड <img src="images/download.png" alt=""
                        srcset="">करें </b>
            </div>
            <hr>
        </center>

        <!-- app download-end -->

        <marquee style="background-color: antiquewhite;" behavior="" direction="">कुल मामले जहाँ से अपडेट किये जा
            रहे है
            ऐसा संभव है की गलतियां हो जाएँ हमें
            अवगत कराईये हम गलतियों को सुधारने का पूरा प्रयास करेंगे धन्यवाद  :===>> <a style="color: black;"
                                    href="https://docs.google.com/forms/d/e/1FAIpQLScrwo1ZQ3lls0G1bk1Oxz16f6ZZaPAIkOgISRmhrVFMoiKN6g/viewform?embedded=true">CLICK HERE </a></marquee>




    </div>



    <script src="app.js"></script>
    <script src="scripts/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase.js"></script>


</body>

</html>