.row{

}

.my-row-1{
  
   
    
}
.my-row-2{
   
}

*{
    /* font-family: 'Girassol', cursive; */
    box-sizing: border-box;
   
}
.bg-dark {
    background-color: rgb(18, 70, 150)!important;
}
.bg-light {
    background-color: rgb(250, 251, 252)!important;
}
.nav-link {
    color: rgba(14, 13, 13, 0.5);
    font-weight: bolder;
}

/* 
.my-row-1-col-1{
    border: 1px solid red;
}
.my-row-1-col-2{
    border: 1px solid rgb(17, 43, 192);
    background-color: rgb(167, 10, 127);
}
.my-row-1-col-3{
    border: 1px solid rgb(99, 87, 87);
}
.my-row-1-col-4{
    border: 1px solid rgb(167, 10, 127);
}


.my-row-2-col-1{
    border: 1px solid rgb(19, 243, 30);
}
.my-row-2-col-2{
    border: 1px solid rgb(212, 12, 162);
}

.my-row-2-col-3{
    border: 1px solid rgb(38, 53, 105);
}

.my-row-2-col-4{
    border: 1px solid rgb(34, 206, 19);
} */


#confirmed-td{
 
    background-color: rgb(255, 115, 0);
    color: rgb(10, 15, 1);
    border-radius:15%;
    box-shadow: 1px 2px 3px 6px gray;
}
#deaths-td{
    
    color: rgb(12, 2, 7);
    background-color: rgb(250, 100, 100);
    border-radius:15%;
    box-shadow: 1px 2px 3px 6px gray;
}
#recovered-td{
  
    background-color: rgb(37, 231, 111);
    border-radius:15%;
    box-shadow: 1px 2px 3px 6px gray;
}




#confirmed-tt{
   
    background-color: rgb(176, 185, 212);
    border-radius:20px;
 
}


#deaths-tt{
    /* border: .8px solid black; */
    color: rgb(12, 2, 7);
    background-color: rgb(243, 51, 51);
    border-radius:20px;
}
#recovered-tt{
  
    background-color: rgb(33, 207, 10);
    border-radius:20px;
  
}
#active-tt{
  
    background-color: rgb(166, 201, 10);
    color: rgb(10, 15, 1);
    border-radius:19px;
}




p{
    font-size: 40px;
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Girassol', cursive; */
    font-weight: bolder;
}

small{
    font-family: 'Teko', sans-serif;    
    font-weight: bolder;
}
h5{
    font-weight: bolder;
}

.Subscribe-btn{
cursor: pointer;
}
/* #notify{
 background-color: aqua;
 border-radius: 10px;
 color: black;
 font-size: 25px;
 font-weight: bolder;
} */

.movable-info{
    display: flex;
}
.my-row-3{
    /* border: 1px solid red; */
}
li{
    list-style: none;
}
.NameList{
    /* list-style: upper-alpha; */
}


.DisttTitle{
    color: rgb(1, 1, 5);
    background-color: chartreuse;
    border-radius: 5px;
}
.StateTitle{
    background-color: rgb(19, 231, 72);
    color: black;
    border-radius: 5px;
    box-shadow: 2px 3px 4px gray;
}
.list-view-disttEng
{
    font-weight: 500;
}
.list-view-disttHin{
    font-weight: 600;

}
.list-view-cases{
    font-weight: 700;
}
.list-view-disttEng{
    list-style: decimal;
}
.feedback-container{
    background-color: rgb(199, 188, 188);
}